body{
    display: flex;
    font-family: 'Changa', sans-serif;
    background-color: #ff5b1b;
}
#fullBg{
    height:100vh;
}
#wallpaper{
    width: auto;
    height:100vh;
}
#title{
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 2vw;
    font-weight:1000;
}

#topMenubar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #FFFFFF;
    color:#ff5b1b;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #919191;
    height:10vh;
}

#content{

    display:block;
    height:80vh;
    background-color: #ff5b1b;
    z-index:-1;
    overflow-y:hidden;
    overflow-y: scroll;
    background-color:white;
    background: url(contentBg.jpg) no-repeat no-repeat;
    background-position: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    width:100%;

}

#content::-webkit-scrollbar {
    display: none;
  }
#bottomMenu{
    height:10vh;
    background-color:#FFFFFF;
}

.topMenuButton{
    display:flex;
    text-align: center;
    justify-content: center;
    width:2vw;
    border-radius: 15%;
    font-size: 1.5vw;
    color:#ff5b1b;
}

.topMenuButton:hover{
    display:flex;
    text-align: center;
    justify-content: center;
    width:2vw;
    border-radius: 15%;
    font-size: 1.5vw;
    color:#000000;
}

.topSideBar{
    display:flex;
    text-align: center;
    justify-content: center;
}
#bottomMenu{
    display:flex;
    justify-content: space-around;
}
.bottomButton{
    display:block;
    text-align: center;
}


.bottomButtonArea{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height:100%;
    font-size:1.2vw;
}
.bottomButtonArea:hover{
    background-color: #ff5b1b;
    color:white;
}

#bottomCenterButton{
    z-index:999;
    position:relative;
    height:100%;
    text-align: center;
    color:#FFFFFF;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size:5vw;
    bottom:4vw;
    
}
.fa-plus:hover{
    background-color: #FFFFFF;
    color:black;
}



.nutrition{
    display:block;
    text-align: center;
    width:70vw;
    background-color:#ff5c1bd9;
    border: #ffe1e1 2px solid;
    border-radius: 7%;
    margin-top:2vh;
    margin-bottom:2vh;     
    margin-left:15vw;  
    padding:2vw;
    animation: show 3s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-20px);
}


  

  @keyframes show {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
.nutritionTitle{
    display:flex;
    text-align:center;
    width:100%;
    font-family: 'Changa', sans-serif;
    font-size: 1.8vw;
    font-weight:500;
    color:#bbb9b9;
    border-bottom: 1px #000000  solid;
    letter-spacing:0.3vw;
}

.nutritionDe{
    display: block;
    width:100%;
    overflow-y:hidden;
    overflow-y: scroll;
    height:15vh;
    text-align: left;
    font-size: 1.2vw;
    color:rgb(238, 238, 238);

}
.nutritionDe::-webkit-scrollbar {
    width: 12px;
}
 
.nutritionDe::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.nutritionDe::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.nutritionRe{

    display: block;
    text-align: left;
    width:100%;
    height:15vh;
    overflow-y:hidden;
    overflow-y: scroll;
    font-size: 1.2vw;
    color:rgb(238, 238, 238);
  }

  .nutritionRe::-webkit-scrollbar {
    width: 12px;
}
 
.nutritionRe::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.nutritionRe::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }

  #diagnosisTitle{
      text-align: center;
      font-family: 'Changa', sans-serif;
      color:#767676;
    font-size: 2.5vw;
    font-weight:500;
    height:5vh;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 0.5s;
  }

