body{
    display: flex;
    font-family: 'Changa', sans-serif;
    background-color: #ff5b1b;
}
#fullBg{
    height:100vh;
}
#wallpaper{
    width: auto;
    height:100vh;
}
#title{
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 2vw;
    font-weight:1000;
}

#topMenubar{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #FFFFFF;
    color:#ff5b1b;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #919191;
    height:10vh;
}

#content{
    display: flex;
    flex-wrap: wrap;
    height:80vh;
    background-color: #ff5b1b;
    z-index:-1;
    overflow-y:hidden;
    overflow-y: scroll;
    background: url(contentBg.jpg) no-repeat no-repeat;
    background-position: fixed;
    background-size: cover;
    justify-content: center;
    align-content:space-between;

}

.recordDate{
    text-align: center;
    font-size: 1.5vw;
    align-content: center;
    align-items:center;
    justify-content: center;
    width: 100%;

}
.recordHeader{
    font-family: 'Special Elite', cursive;
    font-size:2vw;
    display: block;
    width:100%;
    text-align: center;
    justify-content: center;
}
.dietRecordHeader{
    display:flex;
    justify-content: space-around;
    height:auto;
}
.dietRecord{
    display:block;
    background-color: hsla(255,100%,100%,0.9);
    width:80%;
    height:auto;
    margin: 10px;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
    font-size:1.2vw;
    text-align: center;
    
}

.nutritionDeficiency{
    display: flex;
    color:red;

}
.nutritionDeficiencyHeader{
    display: flex;
    justify-content: center;
    width:30%;
    border-right:1px #919191 solid;
    text-align: center;
}
.nutritionDeficiencyContent{
    display:flex;
    flex-wrap: wrap;
    width:70%;
}

.nutritionObtained{
    display: flex;
    color:#07a30f

}
.nutritionObtainedHeader{
    display: flex;
    justify-content: center;
    width:30%;
    border-right:1px #919191 solid;
    text-align: center;
}
.nutritionObtainedContent{
    display:flex;
    flex-wrap: wrap;
    width:70%;
}
.recordHeader{
    text-align: center;
}
#content::-webkit-scrollbar {
    display: none;
  }
#bottomMenu{
    height:10vh;
    background-color:#FFFFFF;
}

.topMenuButton{
    display:flex;
    text-align: center;
    justify-content: center;
    width:2vw;
    border-radius: 15%;
    font-size: 1.5vw;
    color:#ff5b1b;
}

.topMenuButton:hover{
    display:flex;
    text-align: center;
    justify-content: center;
    width:2vw;
    border-radius: 15%;
    font-size: 1.5vw;
    color:#000000;
}

.topSideBar{
    display:flex;
    text-align: center;
    justify-content: center;
}
#bottomMenu{
    display:flex;
    justify-content: space-around;
}
.bottomButton{
    display:block;
    text-align: center;
}


.bottomButtonArea{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height:100%;
    font-size:1.2vw;
}
.bottomButtonArea:hover{
    background-color: #ff5b1b;
    color:white;
}

#bottomCenterButton{
    z-index:999;
    position:relative;
    height:100%;
    text-align: center;
    color:#FFFFFF;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size:5vw;
    bottom:4vw;
    
}
.fa-plus:hover{
    background-color: #FFFFFF;
    color:black;
}

img{
    top:10vh;
}