section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .image{
    position: relative;
    width: 100%;
    height: 100%;
}

section .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .content .formBx{
    width: 50%;
}
section .content .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
section .content .formBx .inputBx{
    margin-bottom: 20px;
}
section .content .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

section .content .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}
section .content .formBx .inputBx input[type="submit"]{
    background: cornflowerblue;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .content .formBx .inputBx input[type="submit"]:hover{
    background: #ff4584;
    transition: 0.3s;
}
section .content .formBx .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 500;
}