body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ff5b1b;
    font-family: 'Changa', sans-serif;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 8px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content:'';
    position: absolute;
    left: 0;;
    bottom:0;
    height: 3px;
    width: 30px;
    background: #f75b1b;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border:1px soild #ccc;
    padding-left: 15px;
    font-size: 16px;
    border: bottom width 2px; 
    transition: all 0.3 ease;
}

.user-details .input-box input :focus,
.user-details .input-box input :valid{
    border-color: #9b59b6;
}

.form button{
    height: 45px;
    margin: 45px 0;
}
.form button input{
    height: 100%;
}