body{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to right, BLACK,gray,brown);
}
#background{
    display: flex;
    width:100%;
    justify-content:center;
    flex-wrap: wrap;
    text-align: center;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

#title{
    display:flex;
    width:100%;
    height:15vh;
    text-align: center;
    letter-spacing: 2.2vw;
    top:0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Special Elite', cursive;
    font-size: 5vw;
    background-color: #ff5c1bc6;
}
.camera{
    display:block;
    background-color: #ff5c1bd5;

}
#video{
    display: flex;
    flex-wrap: wrap;
    width:auto;
    height:70vh;
    border: rgba(255, 163, 77, 0.659) 5px solid;
    margin-bottom: 5vh;
    background-color: rgba(248, 173, 103, 0.885);
    
}

#startbutton{
    background-image: linear-gradient(to right, red,orange,yellow);
    height:10vh;
    width:10vw;
    font-family: cursive;
    font-size: 1vw;
    position: absolute;
    bottom:10vh;
    right:50vw;
    border-radius: 5%;
}
#startButton:hover{
    background-color: white;
    color:#ff5b1b;
}

#back{
    background-image: linear-gradient(to right, blue,indigo,violet);
    height:10vh;
    width:10vw;
    font-family: cursive;
    font-size: 3vw;
    position: absolute;
    bottom:0px;
    right:1vw;
    border-radius: 5%;
}